@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

HTML, body{
    width: 100vw;
    height: 100vh;

    background-color: rgba(238, 130, 238, 0.418);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-size: 2.5em;
    font-weight: 900;

    color: violet;
    text-shadow: 4px 4px black;
}

.btn{
    color: violet;
    background-color: #892be291;
    border: none;
    border-radius: 10px;

    padding: 15px;
    width: 110px;

    box-shadow: 3px 3px rgba(0, 0, 0, 0.37);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.411);

    position: absolute;
    top: 65%;
}

.btn:hover{
    background-color: #892be234;
}

.btn:active{
    background-color: violet;
}

#aceito{
    left: 40vw;
}

#recuso{
    left: 53vw;
}

.container{
    display: none;
}

#data{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;

    color: blueviolet;

    text-shadow: none;
}